//- extends forgotPasswordBase 
//- block content
//-   body
//-     .card
//-       h2 Forgot Password?
//-       p You can reset your password here
//-       form.form--forgotPasword
//-         input#forgotPassword.passInput.rest--form(type="email", name="email", placeholder="Email address", required)
//-         button.btn Send

extends forgotPasswordBase 

block content
  body
    .card
      h2 Forgot Password?
      p.message= `You can reset your password here`

      // Display the message or the forgot password form
      if message
        p.message= message
      else
        form.form--forgotPasword
          input#forgotPassword.passInput.rest--form(type="email", name="email", placeholder="Email address", required)
          button.btn Send
