extends forgotPasswordBase 
block content
  body
    .card
      h2 Forgot Password?
      p You can reset your password here
      form.form--forgotPasword
        input#forgotPassword.passInput.rest--form(type="email", name="email", placeholder="Email address", required)
        button.btn Send
