header.header
  .header-top
    .container
      .helpline-box
        .icon-box
          a(href="/") Back
      .logo
        img(src="/images/logo.svg", alt="Logo")
      .header-btn-group
  .overlay
