html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/images/favicon.svg", type="image/svg+xml")
    link(rel="stylesheet", href="css/login.css")
    link(rel="stylesheet", href="css/styles.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
    script(src="https://js.stripe.com/v3/") 
    title #{title} Page
  body
    // HEADER
    include loginheader

    //CONTENT
    block content
        h1 This is a placeholder heading

    // FOOTER
    include loginfooter
    script(src="/js/bundle.js")      
