footer.footer
  .footer-top
    .container
      .footer-brand
        .logo
          img(src="/images/logo.svg", alt="Logo")
        p.footer-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor quam vitae vestibulum laoreet.
      .footer-contact
        h2.contact-title Contact Us
        p.contact-text
          ion-icon(name="location-outline")
          | 123 Street, City, Country
        p.contact-text
          ion-icon(name="mail-outline")
          | contact@example.com
        p.contact-text
          ion-icon(name="call-outline")
          | +123 456 789
      .footer-form
        h2.form-text Subscribe to Our Newsletter
        form
          .form-wrapper
            input.input-field(type="email", placeholder="Enter your email address")
            button.btn.btn-primary(type="submit") Subscribe
  .footer-bottom
    .container
      p.copyright
        | &amp;copy; 2023 Your Company. All rights reserved. |
        a(href="#") Privacy Policy
        | |
        a(href="#") Terms of Service
      ul.footer-bottom-list
        li
          a.footer-bottom-link(href="#") Home
        li
          a.footer-bottom-link(href="#") About
        li
          a.footer-bottom-link(href="#") Services
        li
          a.footer-bottom-link(href="#") Contact
