extends loginbase

block content
  // Login Form Section
  section.heroo
    .container
      h1.hero-title Welcome to our Login Page
      p.hero-text Please enter your username and password to log in.
      .login-form.form--login
        form
          .input-wrapper
            input#email.input-field(type='email', placeholder='you@example.com', required)
          .input-wrapper
            input#password.input-field(type='password', placeholder='••••••••', required, minlength='8')
          button.btnn.btnn-primary Login
          .login-form-text
            | Don't have an account? 
            a(href="/signup") Create one
            |  or 
            a(href="/forgotPassword") Forgot Password