extends loginbase
block content
  // Login Form Section
  section.heroo
    .container
      h1.hero-title Welcome to our SignUp Page
      p.hero-text Please enter your details to Sign Up
      .login-form.form--signup
        form
          .input-wrapper
            input#name.input-field(type="text", placeholder="Full Name", required)
          .input-wrapper
            input#email.input-field(type="email", placeholder="you@example.com", required)
          .input-wrapper
            input#password.input-field(type='password', placeholder='Password', required, minlength='8')
          .input-wrapper
            input#passwordConfirm.input-field(type='password', placeholder='PasswordConfirm', required, minlength='8')
          button.btnn.btnn-primary Create Account

