
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/otpAfterLogin.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/images/favicon.svg", type="image/svg+xml")
    script(src="https://js.stripe.com/v3/") 
    title Two-Factor Verification Page
  body
    form.form
      .info
        span.title Two-Factor Verification
        p.description Enter your Email address and the two-factor authentication code provided by the authenticator app 
      .input-fields
        input#email(placeholder='Email', type='email' ,required)
        input#otp(placeholder='OTP', type='tel', maxlength='6' , required)
      button#validateBtn.action-btns.verify Verify 

    script(src="/js/bundle.js")
