head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Natours | Exciting tours for adventurous people
  link(rel="stylesheet", href="./css/style.prefix.css")
  script(src="https://kit.fontawesome.com/a076d05399.js")
  link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900", rel="stylesheet")
  link(rel="shortcut icon", type="image/png", href="/img/favicon.png")
  title Natours | Exciting tours for adventurous people
  nav
    .menu
      ul
        li
          a(href="#About") About Natours
        li
          a(href="/All-Tours") All Tours
        li
          a(href="/login") Login
        li.create-account
          a(href="/signup") Create a new account

  main
    header.header
      div(class="header__logo-box")
        img(src="/img/logo-white.png", alt="Logo", class="header__logo")
      div(class="header__text-box")
        h1.heading-primary
          span.heading-primary--main Outdoors
          span.heading-primary--sub is where life happens
        a.btn.btn--white.btn--animated(href="#section-tours") Discover our tours
