html
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Natours | Exciting tours for adventurous people
            link(rel="stylesheet", href="./css/style.prefix.css")
            link(rel="stylesheet", href="./css/cardStyle.css")
            script(src="https://kit.fontawesome.com/a076d05399.js")
            link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900", rel="stylesheet")
            link(rel="shortcut icon", type="image/png", href="/img/favicon.png")
            title Natours | Exciting tours for adventurous people
            

    body
        // HEADER
        include _headers

        // CONTENT
        block content
            h1 This is a placeholder heading

        // FOOTER
        include _footers
