doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="shortcut icon", href="/images/favicon.svg", type="image/svg+xml")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap", rel="stylesheet")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    script(src="https://js.stripe.com/v3/")

  body
    // HEADER
    include headerOverview

    //CONTENT
    block content
        h1 This is a placeholder heading

    // FOOTER
    include footerOverview
    script(src="/js/bundle.js")  
    script(src="https://js.stripe.com/v3/") 
  
