
footer.footer
    .footer-top
        .container
            .footer-brand
                a.logo(href="#")
                    img(src="/images/logo.svg", alt="Tourly logo")
                p.footer-text Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                    | fringilla, praesentium magna conubia
                    | at
                    | perferendis, pretium, aenean aut ultrices.
            .footer-contact
                h4.contact-title Contact Us
                p.contact-text Feel free to contact and reach us !!
                ul
                    li.contact-item
                        ion-icon(name="call-outline")
                        a.contact-link(href="tel:+01123456790") +01 (123) 4567 90
                    li.contact-item
                        ion-icon(name="mail-outline")
                        a.contact-link(href="mailto:info.tourly.com") info.tourly.com
                    li.contact-item
                        ion-icon(name="location-outline")
                        address 3146 Koontz, California
            .footer-form
                p.form-text Subscribe our newsletter for more update &amp; news !!
                form.form-wrapper
                    input.input-field(type="email", name="email", placeholder="Enter Your Email", required)
                    button.btn.btn-secondary(type="submit") Subscribe

    .footer-bottom
        .container
            p.copyright &copy; 2022
                a(href="#") codewithsadee. All rights reserved
            ul.footer-bottom-list
                li
                    a.footer-bottom-link(href="#") Privacy Policy
                li
                    a.footer-bottom-link(href="#") Term &amp; Condition
                li
                    a.footer-bottom-link(href="#") FAQ