//- header.header(data-header)
//-     .overlay(data-overlay)
//-     .header-top
//-         .container
//-             a(href="/")
//-                 .user-profile
//-                     img.profile-picture(src="/img/users/user-2.jpg", alt="User Profile")
//-             a.logo(href="/")
//-                 img(src="/images/logo-blue.svg", alt="Tourly logo")
//-     .header-bottom
//-         .container
//-             nav.navbar(data-navbar)
//-                 .navbar-top
//-                     a.logo(href="/")
//-                         img(src="/images/logo-blue.svg", alt="Tourly logo")
//-                     button.nav-close-btn(aria-label="Close Menu", data-nav-close-btn)
//-                         ion-icon(name="close-outline")

link(rel="stylesheet", href="/css/style.css")

header.header
  nav.nav.nav--tours
    a.nav__el(href='/All-Tours' style="font-weight: bold; color: black;") All tours
  .header__logo
    a(href='/')
      img(src='/images/logo-blue.svg', alt='Natours logo')

  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout(style="font-weight: bold; color: black;") Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span(style="font-weight: bold; color: black;")= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up